/* media-bundle/assets/css/media.css */
@layer components {
  .kmm-photo-item {
    @apply flex items-center justify-center relative w-36 h-36 mb-4 overflow-hidden rounded-lg border border-gray-200 shadow-sm bg-white cursor-move select-none;
  }

  .kmm-preview-bg-image {
    @apply absolute inset-0 w-full h-full object-cover blur-md opacity-60 scale-110 pointer-events-none z-0;
  }

  .kmm-preview-image {
    @apply relative w-full h-full object-contain pointer-events-none z-10 drop-shadow-sm;
  }
  
  /* Speziell für die Buttons, die verschwinden */
  .kmm-delete-btn {
    /* Position & Ebene */
    @apply absolute top-1 right-1 z-30 cursor-pointer;
    
    /* Form & Fix (size-7 entspricht ca. 28px, perfekt für Icons) */
    @apply size-6 rounded-full! flex items-center justify-center shadow-md;
    
    /* Farben & Animation */
    @apply bg-white text-red-600 transition-all opacity-0;
    @apply hover:bg-red-50;
  }

  .kmm-edit-btn {
      /* Position & Ebene */
    @apply absolute top-1 right-8 z-30 cursor-pointer;
    
    /* Form & Fix (size-7 entspricht ca. 28px, perfekt für Icons) */
    @apply size-6 rounded-full! flex items-center justify-center shadow-md;
    
    /* Farben & Animation */
    @apply bg-white text-red-600 transition-all opacity-0;
    @apply hover:bg-red-50;
  }

  .kmm-delete-btn svg, .kmm-edit-btn svg {
    @apply w-4 h-4;
  }

  .kmm-placeholder-spin {
    @apply animate-spin h-6 w-6 text-blue-500;
  }

  .kmm-main-image-border {
    @apply ring-4 ring-blue-600 ring-offset-2;
  }
  .kmm-main-image-badge {
    @apply absolute bottom-2 left-1/2 -translate-x-1/2 bg-blue-600/90 text-white text-[10px] font-bold py-1 px-3 rounded-full uppercase z-20 pointer-events-none backdrop-blur-sm shadow-lg whitespace-nowrap;
  }
  
  /* Der Hover-Effekt funktioniert auch ohne 'group' der Haupt-App */
  .kmm-photo-item:hover .kmm-delete-btn, .kmm-photo-item:hover .kmm-edit-btn {
    @apply opacity-100;
  }
}